.logo{
    &:hover,
  &:focus,
  &:active {
    color: #F5C61C;
  }
}

.thin-light-border{
    border-bottom: 1px solid rgba(250, 248, 248, 0.2) !important;
}

.search-input {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
  animation: expandInput 0.3s ease forwards;
  padding: 0.5rem 0.7rem !important;
}

@keyframes expandInput {
  from {
    width: 0;
    opacity: 0;
    padding: 0;
    border: none;
  }
  to {
    width: 250px;
    opacity: 1;
    padding: 0.25rem 0.5rem;
    border: 1px solid #5c5c5c;
  }
}

.white-placeholder::placeholder {
  color: white;
  opacity: 1;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

