.card {
  width: 12rem;

  .card-title {
    font-size: 1rem;
  }

  .card-img-top {
    object-fit: cover;
  }

  .circular-chart {
    width: 36px;
    height: 36px;

    .circle-bg {
      fill: #0d3c32;
      stroke: #303030;
      stroke-width: 3.8;
    }

    .circle {
      fill: none;
      stroke-width: 3.8;
      stroke-linecap: round;
      transition: stroke-dasharray 0.3s ease;
    }

    .percentage {
      fill: white;
      font-size: 1rem;
      text-anchor: middle;
      dominant-baseline: middle;
      font-size: x-small;
    }
  }
}